{
	"useTabs": true,
	"tabWidth": 4,
	"printWidth": 100,
	"endOfLine": "lf",
	"singleQuote": true,
	"jsxSingleQuote": true,
	"proseWrap": "always",
	"bracketSpacing": true,
	"semi": true,
	"trailingComma": "all"
}
